@import url('https://fonts.googleapis.com/css?family=Work+Sans:600');

html, body {
  font-size: 18px;
  //color: $def;
  font-weight: 400;
  font-family: $f-def;
  overflow-x: hidden;
  //background: gray;
}


.container {
  width: 1140px;
  padding: 0;
  @include max (1140) {
    width: 100%;
    padding: 0 15px;
  }
}

.single-img {
  max-height: 400px;
  //transition: all .4s ease-in-out;
}

.infinite-scroll-component {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bg {
  &--white {
    background-color: $col-white;
  }
}
.undl{
  text-decoration: underline;
}