.btn {
  color: #fff;
  line-height: 100%;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Work Sans';

  &--orenge {
    background: #f06a00;

    &:hover {
      opacity: .75;
      transition: .5s;
    }
  }
}

.hover {
  transition: all .3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.btn--like {
  @extend .hover
}

.btn--trash {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: $col-white;
  z-index: 200;
  @extend .hover
}
